body {
  margin: 25px;
  box-sizing: border-box;
  background-color: rgb(8, 79, 8);
}

.app {
  height: 100vh;
}

.title {
  color: white !important;
  font-size: 40px !important;
  text-align: center;
}

.wholeApp {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}



.leftGrid {
  display: flex;
  flex-direction: column;
}

.formContainer {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}

.winningNumber {
  width: 75px;
  height: 75px;
  border-radius: 10px;
  border: 5px solid #ffd700;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: white;
}

.spinButton {
  margin-top: 10px;
  width: 200px;
  align-self: center;
}

.betField {
  background-color: black;
  border: 5px solid #ffd700;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
}

.formTitle {
  color: white;
  padding-top: 25px;
  font-size: 1.5rem;
  font-weight: 700;
}

.betInput {
  margin-bottom: 10px;
}

.selectLabel,
.betLabel {
  color: white;
  margin-right: 15px;
}


.moneyDisplay {
  width: 100px;
  height: 50px;
  background-color: white;
  align-self: center;
  border-radius: 5px;
  text-align: center;
}

.footer {
  position: fixed;
  bottom: 0;
  display: flex;
  background-color: rgb(32, 32, 99) !important;
  width: 100%;
  color: white;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}

.footer a {
  text-decoration: underline;
  color: white;
  font-weight: bold;
}

.footer a:hover {
  color: rgb(0, 255, 0);
}