body {
  margin: 25px;
  box-sizing: border-box;
  background-color: rgb(8, 79, 8);
  min-height: 100vh;
}

.title {
  color: white !important;
  font-size: 40px !important;
  text-align: center;
}

.app {
  height: 100vh;
}

.wholeApp {
  display: flex;
  flex-direction: row;
}

.leftGrid {
  display: flex;
  flex-direction: column;
}

.formContainer {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}

.winningNumber {
  width: 75px;
  height: 75px;
  border-radius: 10px;
  border: 5px solid #ffd700;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: white;
}

.spinButton {
  margin-top: 10px;
  width: 200px;
  align-self: center;
}

.formTitle {
  color: white;
  padding-top: 25px;
  font-size: 1.5rem;
  font-weight: 700;
}

.selectLabel {
  color: white;
  margin-right: 15px;
}


.rightGrid {
  width: 100px;
  height: 50px;
  background-color: white;
}

.footer {
  margin-top: auto;
  display: flex;
  position: absolute;
  bottom: 0;
  background-color: rgb(32, 32, 99) !important;
  width: 100%;
  color: white;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}

.footer a {
  text-decoration: underline;
  color: white;
  font-weight: bold;
}

.footer a:hover{
  color: rgb(0, 255, 0);
}